.pe-logo {
    width: 100%;
    max-width: 160px;
}
.bg-gray {
    background: #d0453e2e;
}
.form-check-primary {
    margin-left: 20px;
}
.add-row .card-title {
     font-size: 18px;
    width: 100%;
    margin-bottom: 25px;
}
.dashboard .add-row .card-title {
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}
.add-row .card-title:after {
    display: block;
    background: #222;
    height: 2px;
    width: 20px;
    content: "";
    margin-top: 3px;
    margin-left: 1px;
}
a.add-element {
    float: right;
}
.delete, .edit , .delete:hover, .edit:hover , .btn-danger:not(:disabled):not(.disabled):active:focus , .btn-danger:not(:disabled):not(.disabled):active{
    padding: 3px;
    background: transparent;
    color: #222;
    border: 0;
    display: inline-block;
    max-width: 20px;
    width: 20px;
}
.edit ~ form {
    display: inline;
}
.table td , .table tr td ~ th{
    padding: 10px 15px;
}
.card-boxx {
    display: inline-block;
    width: 100%;
}
.tt-box {
    display: inline-block;
    width: 83%;
}
.ico-box {
    width: 17%;
    display: inline;
    vertical-align: text-bottom;
    text-align: center;
    margin: 0 auto;
}
span.icon-card svg {
    width: 30px;
    height: 35px;
}
.tt-box .number-font {
    margin-top: 10px;
}
.dash-cards .card-body {
    padding: 20px 20px;
}
.dash-cards .card {
    margin-bottom: 25px;
}

.dashboard .add-row .card-body {
    padding: 0px 20px 15px;
}
thead {
    background: #f4f4f491;
    color: #222;
}
thead tr th{
     color: #222 !important;
}
.card-header {
    border-bottom: 0;
    padding-bottom: 10px;
    padding-top: 20px;
}
.project-details {
    display: inline-block;
    width: 100%;
}
.bb-box {
    display: inline-block;
    width: 33%;
    text-align: right;
    margin-bottom: 10px;
}
.sidebar {
 
    overflow-y: auto;
}
.txt-r{
    text-align:right;
}
/*
 *  STYLE 3
 */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 14%);
    background-color: #f9fafb;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #9e9e9e70;
}
.txt-r .col h6 {
    color: #959797;
    font-size: 12px;
        line-height: 18px;
}
p.num-pt {
    font-weight: 600;
}
@media (max-width:991px) {
    .footer {
        margin-left: 0;
        width: 100%
    }
    .txt-r .col h6 {
   
    max-width: 70px;
}
    .bb-box {
    display: inline-block;
    width: 32%;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
}
.txt-r {
    text-align: left;
    margin: 10px 0px;
}
.txt-r .col {
    padding: 0;
    padding-right: 15px;
}
    footer {
    padding: 5px !important;
}
.footer p {
    font-size: 10px;
    margin-bottom: 0;
}
.add-row .card-title {
    font-size: 15px;
    width: 100%;
}
a.add-element {
    float: right;
    font-size: 14px;
}
}

.cursor-pointer{
    cursor: pointer;
}
div#user1 {
    display: none;
}
.mar-15{
    margin-top:15px;
}